.add-item__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    margin: 0 auto;
    padding: 1.4em 1.6em 2em 1.6em;
    box-sizing: border-box;
    text-decoration: none;
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3); /* Тонкая граница */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для объема */
}

.add-item__container form{
    display: flex;
    flex-direction: column;
    width: 100%; height: 100%;
    box-sizing: border-box;
}