.tasks-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

.tasks-list > h1{ 
    width: 100%;
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    color:#333;
}

.tasks-list__item {
    position: relative;
    width: 100%;
    max-height:320px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 1.4em 3.6em 2em 1.6em;
    box-sizing: border-box;
    text-decoration: none;
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3); /* Тонкая граница */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для объема */
}

.tasks-list__item__link {
    text-decoration: none;
    color:#000;
    display: block;
    width: 100%; height: 100%;
}
.tasks-list__absolute {
    position:absolute;
    bottom: 32px;
    display: flex;
    flex-direction: column;
}

.tasks-list__status {
    left:25px;
}

.tasks-list__status >span:first-child {
    text-align: left;
    font-weight: 700;
    font-size: .7em;
    padding-bottom: .4em;
}

.tasks-list__deadline {
    right: 25px;
}

.tasks-list__deadline >span:first-child {
    text-align: right;
    font-weight: 700;
    font-size: .7em;
    padding-bottom: .4em;
}

.tasks-list__title {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: .6em;
}

.__status-wrapper {
    position: absolute;
    background: #fff;
    width: 92%;
    height: 100%;
    top:0;
    right: 0;
    z-index: -1;
    opacity: .6;
    transition: width .8s;
}

.tasks-list__item:hover .__status-wrapper{
    width: 100%;
}

.tasks-list__item.active-status .glass-effect{

}
.tasks-list__item.closed-status {
    opacity: 1;
}

.__remove-task-button {
    width: 18px;
    height: 18px;
    background: url('../../assets/img/icon-cross.svg') center center no-repeat;
    border: none;
    position: absolute;
    top:24px;
    right: 24px;
    cursor: pointer;
    transition: opacity .4s;
    opacity: .4;
}

.__remove-task-button:hover {
    opacity:1;
}

.pagination {
    position: absolute;
    bottom: 52px; right: 0px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.pagination > button {
    width: 52px;
    height: 52px;

    background: rgba(255, 255, 255, .2);
    /* Эффект размытия заднего фона */
    backdrop-filter: blur(2px); /* Размытие - регулируется числом */
    /* Тонкие границы и тени для акцента */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Тонкая граница */
    color: #ffffff; /* Белый цвет текста для контраста */
    transition: box-shadow .4s;
}

.pagination > button:first-child {
    border-radius: 4px 0px 0 4px;
    border-right: 1px solid #e9e9e9;
}

.pagination > button:last-child {
    border-radius: 0px 4px 4px 0;
    border-left: 1px solid #e9e9e9;
}
.pagination > button:hover {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .06) inset;
}

.pagination > button:active {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .16) inset;
}

.pagination > div {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 2em ;
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(2px); 
    border-top: 1px solid rgba(255, 255, 255, 0.3); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
    color: #333;
}
.pagination  > button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.pagination .__icon {
    display: block;
    width: 12px;
    fill: #d3d3d3;
}

.pagination  > button:first-child {
}

.pagination  > button:last-child .__icon{
    transform: rotate(180deg);
}

@media (min-width:960px) {
    .tasks-list__item {
        width: 48%;
    }
}