
._task-manager  {
  min-height: 100vh;
}

._task-manager > main {
  height: calc(100vh - 284px);
}

._task-manager > footer {
  height: 200px;
}

.navbar-item {
  font-weight: normal;
  color: #ffffff;
}

.navbar-item:hover {
  color: #ffdd57;
}

.navbar-item.is_active {
  font-weight: bold;
  color: #00d1b2; 
  border-bottom: 2px solid #00d1b2; 
}


._task-manager__logo-container{
  width: 100%;
}

._task-manager__logo-container > svg{

  display: block;
}